<section>
  <div class="section-description">
    <h1>General info</h1>

    <p>Medatus Buttons are native <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> elements enhanced with Medatus
       Design styling.</p>

    <br>

    <p>Medatus Buttons Group are native <code>&lt;div&gt;</code> elements enhanced with the appearance of a buttons set
       from Medatus Design styling.
  </div>


  <div class="section-description">
    <h1>Theming</h1>

    <p>Medatus Buttons can be colored in terms of the current theme using the color property to set the background color
       to primary, secondary, or destructive. Also Buttons can have size as normal or large.</p>

    <br>

    <table>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>color</td>
        <td>Color of the button theme. Can be primary, secondary, or destructive.</td>
      </tr>
      <tr>
        <td>size</td>
        <td>Size of the button. Can be normal and large.</td>
      </tr>
    </table>

    <br>

    <p>Medatus Buttons Group can be horizontal button groups set or vertical group set.</p>

    <br>

    <table>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>alignment</td>
        <td>Alignment of the button group set can be horizontal and vertical.</td>
      </tr>
    </table>
  </div>

  <div class="section-description">
    <h1>Usage</h1>

    <p>Download the Medatus Library.</p>

    <br>

    <p>Add built Medatus Library to your project folder.</p>

    <br>

    <p>Add built Medatus Library Modules <code>`med-button`</code>, <code>`med-button-group`</code> to you packages
       list, with path to a library.</p>

    <br>

    <pre>
      <code>npm install "file:`path the the button library module`"</code>
      <code>Example: </code>
      <code>npm install "file:/medatusLibrary/med-button"</code>
    </pre>

    <pre>
      <code>npm install "file:`path the the button group library module`"</code>
      <code>Example:</code>
      <code>npm install "file:/medatusLibrary/med-button-group"</code>
    </pre>

    <br>

    <p>Add <code>`MedButtonModule`</code> or <code>`MedButtonGroupModule`</code> to you AppModule.</p>

    <pre>
<code>import &#123; MatSlideToggleModule &#125; from '@angular/material/slide-toggle';

@NgModule (&#123;
  imports: [
    MatSlideToggleModule,
  ]
&#125;)

class AppModule &#123;&#125;</code></pre>

    <br>

    <p>Add the <code>&lt;med-button&gt;</code> directive to the app.component.html element like so:</p>

    <pre>
      <code>&lt;button med-button&gt;Toggle me!&lt;/button&gt;</code>
    </pre>

    <br>

    <p>Run your local dev server:</p>

    <pre>
      <code>ng serve</code>
    </pre>

    <br>

    <p>Then point your browser to <a href="http://localhost:4200">http://localhost:4200</a></p>

    <p>You should see the Medatus button component on the page.</p>

  </div>

  <app-background></app-background>
</section>
