//examples
pre {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: rgba(0, 0, 0, .01);
  border: 0.5px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  margin: 16px auto;
  padding: 20px;

  code {
    padding: 5px 0;
  }
}
