:host {
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;
    height: 96px;
    width: 100%;
    align-items: center;

    img {
      width: 137px;
      height: 48px;
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
