<section>
  <div class="section-description">
    <h1>Filled button group</h1>

    <p>Icon button groups are commonly found in app bars and toolbars.</p>

    <p>Icons are also appropriate for toggle button groups that allow a single choice to be selected or deselected, such
       as adding or removing a star to an item.</p>
  </div>

  <table>
    <tr>
      <th>Rest</th>
      <th>Hover</th>
      <th>Pressed</th>
      <th>Disabled</th>
      <th>Focus</th>
    </tr>

    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Emil</td>
      <td>Tobias</td>
    </tr>

    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Emil</td>
      <td>Tobias</td>
    </tr>

    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Emil</td>
      <td>Tobias</td>
    </tr>

    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Emil</td>
      <td>Tobias</td>
    </tr>

    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Emil</td>
      <td>Tobias</td>
    </tr>

    <tr>
      <td>Emil</td>
      <td>Tobias</td>
      <td>Linus</td>
      <td>Emil</td>
      <td>Tobias</td>
    </tr>
  </table>
</section>
