<section>
  <div class="section-description">
    <h1>Filled button</h1>

    <p>Icon buttons are commonly found in app bars and toolbars.</p>

    <p>Icons are also appropriate for toggle buttons that allow a single choice to be selected or deselected, such
       as adding or removing a star to an item.</p>
  </div>

  <table>
    <tr>
      <th>Rest</th>
      <th>Hover</th>
      <th>Pressed</th>
      <th>Disabled</th>
      <th>Focus</th>
    </tr>

    <tr>
      <td><button class="large primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large primary"><img src="assets/icons/startIcon.svg">Button</button></td>
    </tr>

    <tr>
      <td><button class="large secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
    </tr>

    <tr>
      <td><button class="large destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="large destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
    </tr>

    <tr>
      <td><button class="medium primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium primary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium primary"><img src="assets/icons/startIcon.svg">Button</button></td>
    </tr>

    <tr>
      <td><button class="medium secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium secondary"><img src="assets/icons/startIcon.svg">Button</button></td>
    </tr>

    <tr>
      <td><button class="medium destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
      <td><button class="medium destructive"><img src="assets/icons/startIcon.svg">Button</button></td>
    </tr>
  </table>
</section>
